ion-item {
  --padding-start: 0; /* Ajusta el padding si es necesario */
  --padding-end: 0;
}

ion-input {
  border: 1px solid black; /* Establece el color y el grosor del borde */
  border-radius: 15px; /* Ajusta el radio para bordes redondeados */
  box-shadow: none;
}

.ion-page {
    background-color: #f0f0f0;
  }

  .imagen {
    display: block;
    margin: 0 auto;
    width: 150px; /* Ajusta el tamaño del icono */
    border-radius: 50%; /* Si quieres que sea circular */
  }  