<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-avatar slot="icon-only">
          <img src="assets/img/user-avatar.png" alt="User Avatar">
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-slides pager="true">  <!-- Agregando 'ion-slides' -->
      <ion-slide *ngFor="let user of users">  <!-- Usando 'ion-slide' -->
        <ion-img [src]="user.image"></ion-img>
        <ion-label>{{ user.name }}</ion-label>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let post of communityPosts">
      <ion-avatar slot="start">
        <img [src]="post.userImage" alt="User Avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{ post.userName }}</h2>
        <p>{{ post.text }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>